@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1> <i class="glyphicon glyphicon-user"></i> Nomina2018</h1>
    <p class="lead">Nomina2018 es una plataforma web sencilla para gestionar los sueldos de tus empleados.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empleados</h2>
        <p>
            Adminístra y revisa la lista de empleados en el módulo Empleados. Utiliza los filtros para personalizar tu búsqueda. También puedes revisar los pagos realizados a cada empleado.
        </p>
        <p><a class="btn btn-default btn-primary" href="/Employees">Ver módulo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tabulador</h2>
        <p>Administra los pagos de nómina a los empleados en el módulo Tabulador. Utiliza los filtros para personalizar tu búsqueda. </p>
        <p><a class="btn btn-default btn-primary" href="/SalaryTab">Ver módulo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Departamentos</h2>
        <p>Administra los departamentos de la empresa.</p>
        <p><a class="btn btn-default btn-primary" href="/Departments">Ver módulo &raquo;</a></p>
    </div>
</div>